background {

    display: flex ;
}
#central {
    display: inline;
    width: 30%;
    float: left;
}


#div4{
    display: inline;
    width: 40%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}